ul {
  padding-left: 30px;
}

.card-more__content-item {
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.card-more__content-item div {
  padding-top: 0.5rem;
}

.card-more__content-item::marker {
  content: "\01F4CC ";
}

.card-more__content-item__resultat::marker {
  content: "\02796 ";
}

.card-more__content-item__additional::marker {
  content: "\02B50 \0FE0F";
}

.card-more__content-item,
.card-more__content-item__additional,
.card-more__content-item__resultat {
  padding-left: 0.5rem;
}

.tariffs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .tariffs {
    flex-direction: row;
  }
}
