ul {
  padding-left: 30px;
}

.card-more__content-item {
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.card-more__content-item div {
  padding-top: 0.5rem;
}

.card-more__content-item::marker {
  content: "📌 ";
}

.card-more__content-item__resultat::marker {
  content: "➖ ";
}

.card-more__content-item__additional::marker {
  content: "⭐️ ";
}

.tariffs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .tariffs {
    flex-direction: row;
  }
}
