p {
  margin-top: 0;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0.25rem;
}

.card-more {
  margin-top: 2rem;
}

.card-more__content-header {
  font-weight: bold;
  margin-bottom: 0;
}

.card-more__online-description {
  padding-left: 0.5rem;
}

.card-more__offline {
  font-weight: bold;
}

/* OFFLINE PROGRAM */
.card-more__offline-program__item::marker {
  content: "✔️";
}

/* OFFLINE SCHEDULE */
.card-more__offline-schedule {
  list-style: none;
}

.card-more__offline-schedule__item span {
  font-weight: bold;
}

/* OFFLINE FORMAT */
.card-more__offline-format__item::marker {
  content: "⭐️";
}

/* OFFLINE ADDITIONAL */
.card-more__offline-additional__item::marker {
  content: "✅";
}

/* OFFLINE BONUSES */
.card-more__offline-bonus__item::marker {
  content: "❤️";
}
