.about {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-items: center;
  margin: 3rem 1rem;
}

.about__header {
  display: inline-block;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  rotate: -90deg;
  text-wrap: nowrap;
}

.about__header span {
  font-family: var(--font-accent);
}

.about__content {
  display: grid;
}

.about__content-img {
  display: none;
}

.about__content-text {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-main);
  letter-spacing: 1px;
  line-height: 1.8rem;
}

.about__content-text span {
  display: contents;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .about {
    margin: 3rem 5rem;
  }
}

@media screen and (min-width: 1040px) {
  .about {
    display: flex;
    max-width: 55%;
    margin: auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__header {
    display: block;
    font-family: var(--font-main);
    margin: 0 0 -3.2rem -1rem;
    padding: 0;
    z-index: 44;
    line-height: 5rem;
    rotate: 0deg;
  }

  .about__content {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content-img {
    display: flex;
    justify-content: flex-end;
  }

  .about__content-img img {
    width: 100%;
    object-fit: cover;
  }

  .about__content-text {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
  }
}
