.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero__left {
  display: none;
}

.hero__right {
  position: relative;
  overflow: hidden;
}

.hero__right img {
  width: 100vw;
  height: 95vh;
  max-height: 95vh;
  object-fit: cover;
  object-position: 50% 35%;
}

.hero__right-header {
  position: absolute;
  top: 35%;
  left: 0;
  font-family: var(--font-hero);
  font-size: 4rem;
  margin: 0;
  padding: 0 0 0 0.5rem;
  color: #fff;
  z-index: 20;
}

.hero__swiper {
  width: 100vw;
  overflow: hidden;
}

@media screen and (min-width: 400px) {
  .hero__right-header {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__right-header {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 900px) {
  .hero__right-header {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1040px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .hero__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    color: var(--color-text);
    font-size: 1.2rem;
    letter-spacing: 2px;
    height: 95vh;
    max-height: 95vh;
  }

  .hero__left p {
    margin-top: 0.5rem;
  }

  .hero__left img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }

  .hero__right {
    width: 50vw;
  }

  .hero__right img {
    width: 50vw;
  }

  .hero__right-header {
    /* margin-top: 10rem; */
    font-size: 7rem;
    line-height: 7.5rem;
    letter-spacing: -7px;
  }
}
